<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="style.css">
	<title>PerfectHarmony</title>
</head>
<body>
	<header>
		<div class="title">
			<h1>PerfectHarmony</h1>
			<h4>For all your harmonic needs</h4>
		</div>
		<div class="usercorner">
			<div class="user">Ear Training</div>
			<div class="user">Harmony Generator</div>
			<div class="user">Login</div>
		</div>
	</header>
	<div class="content">
		<h1> Welcome to PerfectHarmony! </h1>
	</div>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.map"></script>
	<script src="scripts.js"></script>

</body>
</html>